<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>File Upload</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 m-auto">
                <h1 class="my-4">Uploading a document</h1>
                <form action="/api/v1/upload" style="display: flex; flex-direction:column; gap:10px;" method="post" enctype="multipart/form-data">
                    <div style="display: flex; flex-direction:row; gap:8px;">
                        <label style="padding: 2px;">Title</label>
                        <input type="text" name="title" style="padding: 2px; width:500px; border:1px solid gray; border-radius:4px;" >
                    </div>
                    <div class="custom-file mb-3">
                        <input type="file" class="custom-file-input" name="doc" id="file1" onchange="readSingleFile(this.files)">
                        <label class="custom-file-label" for="file1" id="file-label">Choose file</label>
                    </div>
                    <input type="submit" value="Submit" class="btn btn-primary btn-block">
                </form>
            </div>
        </div>
    </div>

    <script>
        function readSingleFile(e) {
            const name = e[0].name;
            document.getElementById("file-label").textContent = name;
        }

        function showDoc(f){
            window.open(`http://localhost:5000/${f}`,"_blank","noreferrer")
        }
    </script>
</body>
</html>